<mat-card class="userProfilHeader">
    <div class="userProfilHeaderInfos">
        <span class="userProfilHeaderInfosName">{{user.firstname}} {{user.lastname}}</span>
        <span class="userProfilHeaderInfosEmail">{{user.email}}</span>
    </div>
    <img src="./assets/img/female.png" alt="">
    <button mat-icon-button class="buttonEdit" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditProfil()">Edit</button>
    </mat-menu>
</mat-card>
<mat-card class="userProfilInfocard">
    <div>
        <mat-card-header class="userProfilInfocardAdress">
          <mat-card-title>Address</mat-card-title>  
        </mat-card-header>
        <mat-card-content>
            <span>{{user.street}} {{user.no}}</span>
            <span>{{user.zipCode}} {{user.city}}</span>
        </mat-card-content>
    </div>
    <button mat-icon-button class="buttonEdit" [matMenuTriggerFor]="menuTwo">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuTwo="matMenu">
        <button mat-menu-item (click)="openEditMenu()">Edit</button>
    </mat-menu>

</mat-card>
