<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
<h1 mat-dialog-title>Edit user</h1>
<div mat-dialog-content >
    <div class="dialog-content">
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input [disabled] = "loading" [(ngModel)]="user.firstname" matInput required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input [disabled] = "loading" matInput [(ngModel)]="user.lastname" required>
        </mat-form-field>
    </div>

    <div class="dialog-content">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input [disabled] = "loading" [(ngModel)]="user.email" matInput required>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Birth date</mat-label>
        <input matInput [disabled] = "loading" [(ngModel)]="user.birthday" [matDatepicker]="picker2" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>


</div>
<div mat-dialog-actions>
    <button [disabled] = "loading" mat-button [mat-dialog-close]="">Cancel</button>
    <button [disabled] = "loading" mat-button (click)="update()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
</div>
