.dialog-content{
    display: flex;
    gap: 16px;
    padding-top: 8px;

    h4{
        margin: 0 0 8px 12px;
    }
}

.full-width{
    width: 100%;
}

.width80{
    width: 80%;
}

.width20{
    width: 20%;
}