<mat-drawer-container class="mat-drawer-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logoContainer">
      Hier LOGO
    </div>

    <ul class="menuItems">
      <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active"><mat-icon>fact_check</mat-icon>Dashboard
      </li>
      <li [routerLink]="['/user']" routerLinkActive="router-link-active"><mat-icon>perm_identity</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <p>
      <mat-toolbar>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar>
    </p>

    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</mat-drawer-container>