.dialogContainer{
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:24px;
    gap: 24px;

    h4{
        color: white;
        text-align: center;
    }

    .chooseBtns{   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 16px
    }
}

