<mat-card>
  <table class="userTable">
    <tr>
      <th>Name</th>
      <th>Profession</th>
      <th>City</th>
      <th></th>
    </tr>

    <tr *ngFor="let user of userList"  >
      <td [routerLink]="[user.id]">{{user.firstname}} {{user.lastname}}</td>
      <td [routerLink]="[user.id]">{{user.email}}</td>
      <td [routerLink]="[user.id]">{{user.city}}</td>
      <td (click)="deleteCustomer(user.id)">
        <mat-icon>delete</mat-icon>
      </td>
    </tr>

    

  </table>
</mat-card>

<div class="addBtn" (click)="openDialog()">
  <button mat-fab color="primary" matTooltip="add User">
    <mat-icon>add</mat-icon>
  </button>
</div>
